.banner-link-wrapper {
    padding: 10px;
    width: 100%;
}

.banner-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    max-width: 1140px;
    padding: 10px;
    margin: 0 auto 80px;
}

.slogan {
    text-align: center;
    margin: 17px auto;
}

.slogan-title {
    color: #6f6262;
    font-family: 'Handlee', Roboto;
    font-size: 2.8rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-img {
    width: 60px;
    height: 60px;
    margin-right: 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.testimonial-name {
    color: #8f8d86;
    font-family: 'Handlee', Roboto;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}

.furniture-knowledge {
    h3 {
        margin: 25px 0;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        color: var(--title-color);
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }

    li {
        color: var(--text-color);
        font-size: 1.5rem;
        margin-left: 16px;
        line-height: 27px;
    }
}
